.staticBG {
  background-color: rgb(27, 26, 26);
}

.Homepage {
  background-color: rgb(31, 31, 31);
  text-align: center;
}

.banner {
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  background-color: black;
  opacity: 75%;
  border: 2px solid gray;
  width: 100%;
  height: 14%;
}

.overlayText {
  position: absolute;
  bottom: 2%;
  left: 10px;
  padding: 5px;
  font-family: Roboto-Black;
  font-size: 1.5vw;
  color: white;
}

.bannerimg {
  object-fit: contain;
  height: auto;
  width: 100%;
  border: 2px solid black;
}

.navbar {
  width: 100%;
}

.bg-nav {
  background-color: #343a40!important;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.logobox {
  width: 75%;
  float: left;
}

.logo {
  max-width: 70% !important;
}

.loginbox {
  width: 25%;
  float: right;
}

.App-header {
  padding: 20px;
  position: relative;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pagePlaceholder {
  color:white;
  text-align: center;
}


.form-box {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  text-align: center;
}

.profile-style {
  color: white;
}

.account-page {
  background-color: rgb(27, 26, 26);
}

.imgUpload {
  text-align: center;
}

.imgUpload-text {
  text-align: center;
  color: white;
}

.firstPlace {
  font-family: sans-serif;
  color: gold;
  margin-bottom: 0;
  font-size: x-large;
}
.secondPlace {
  font-family: sans-serif;
  color: silver;
  margin-bottom: 0;
  font-size: larger;
}
.thirdPlace {
  font-family: sans-serif;
  color: #CD7F32	;
  margin-bottom: 0;
  font-size: large;
}
.pdfStyle {
  background-color: rgb(27, 26, 26);
  text-align: center;
  color: white;
}
.mapStyle {
  background-color: rgb(27, 26, 26);
  text-align: center;
  color: white;
}
.logout {
  float:right;
}

.login {
  float:right;
}

.welcome {
  color:white;
  float: right;
  padding-right: 10px;
}

.pdfFile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px !important;
}

.forgotP {
  color: white;
}

.forgotPass {
  padding-top: 10px;
}