.staticBGold {
  background-image: linear-gradient(rgb(27, 26, 26), black);
  height: auto;
}

.staticBG {
  background: url("assets/topbar.png") center no-repeat;
  height: auto;
}

.Homepage {
  background-color: rgb(31, 31, 31);
  text-align: center;
}

.header-row {
  display: inherit !important;
}

.banner {
  position: relative;
  border: 0 !important;
}

.overlay {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  opacity: .75;
  width: 100%;
  height: 12%;
}

.overlayText {
  position: absolute;
  bottom: 4%;
  left: 20px;
  padding: 5px;
  font-family: Roboto-Black;
  font-size: 1.5vw;
  color: white;
}

.bannerimg {
  object-fit: contain;
  height: auto;
  width: 100%;
  border: 2px solid black;
}

.navbar-all {
  padding: .55rem 1rem !important;
  z-index: 1;
  width: 100%;
  border: 0 !important;
  border-bottom: 1px solid black;
}

.bg-nav {
  background-color: #343a40!important;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.logobox {
  width: 75%;
  float: left;
}

.logo {
  max-width: 40% !important;
  min-width: 300px;
}

.loginbox {
  width: 25%;
  float: right;
}

.App-header {
  padding: 20px;
  position: relative;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pagePlaceholder {
  color:white;
  text-align: center;
}


.form-box {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
}

.test {
  text-align: center;
}

.profile-style {
  color: white;
}

.imgUpload {
  text-align: center;
}

.imgUpload-text {
  color: white;
}

.imgUpload-submit {
  margin-top: 10px;
}

.imgUpload-input {
  background-color: grey;
}

.firstPlace {
  font-family: sans-serif;
  color: gold;
  margin-bottom: 0;
  font-size: x-large;
}
.secondPlace {
  font-family: sans-serif;
  color: silver;
  margin-bottom: 0;
  font-size: larger;
}
.thirdPlace {
  font-family: sans-serif;
  color: #CD7F32	;
  margin-bottom: 0;
  font-size: large;
}
.pdfStyle {
  text-align: center;
  color: white;
}
.mapStyle {
  text-align: center;
  color: white;
}
.logout {
  justify-content: center;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.login {
  justify-content: center;
}

.welcome {
  color:white;
  margin-bottom: 4px;
  text-align: center;
}

.pdfFile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px !important;
}

.forgotP {
  color: white;
}

.forgotPass {
  padding-top: 10px;
}

.team-rows {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.team-rows-icons {
  font-size: 1.4em !important;
  display: inline-block;
}

.team-name {
  vertical-align: middle !important;
  color: white !important;
  font-size: 1.2em;
}

.team-info {
  justify-content: center;
  align-items: center;
}

.profile-link {
  color: white;
}

.team-icon-individual {
  width: auto;
  height: 192px;
  border: 1px solid grey;
}

.team-icon-teamspage {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid grey;
}

.description-teamspage {
  text-align: center;
  width: 100%;
}

.description-row-teamspage {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.members-row-teamspage {
  margin-right: 0px !important;
  margin-left: 0px !important;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.members-textbox-teamspage {
  text-align: center;
  color: black;
  width: 100%;
}

.header-profile {
  color: white;
}

.left-column-profile {
  margin-top: 0px;
}

.team-members-box {
  margin-bottom: 30px;
  padding: 5px;
}

.team-manage-text {
  color: white;
}

.team-manage-blank {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team-manage-button {
  margin-top: 10px;
}

.team-manage-button-2 {
  margin-top: 10px;
  margin-left: 5px;
}

.page-header {
  color:white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-link {
  align-items: center;
  justify-content: center;
  color: black;
}

.team-member-list {
  text-align: center;
  margin-top: 30px;
}

.team-upload {
  color:white !important;
}

.progress {
  width: 250px;
}

.upload-button {
  margin-top: 10px;
}

.team-pictures {
  border: 1px solid black;
}

.team-upload-warning {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}

.team-upload-text {
  color:white !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.next-button {
  margin-top: 10px;
}

.previous-button {
  margin-top: 10px;
}

.submit-button {
  margin-top: 10px;
  margin-left: 15px;
}

.error-team-create {
  color: red;
}

.wins-lb {
  color: rgb(118, 251, 0);
}

.losses-lb {
  color: #fb6060;
}

.profilelink-lb:link {
  color: white;
}

.profilelink-lb:visited {
  color: white;
}

.profilelink-tm:link {
  color: black;
}

.profilelink-tm:visited {
  color: black;
}

.team-link:hover {
  color: black;
}

.team-link:visited {
  color: black;
}

.table-lb {
  opacity: .8 !important;
}

.header-lb {
  border-bottom: 1px solid rgb(255, 217, 0, .5);
  background-color: rgb(36, 36, 36);
}

.header-th-lb {
  border-bottom: 1px solid rgb(255, 217, 0, .5) !important;
  border-bottom-width: 1px !important;
}

.button-left-lb {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-right-lb {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-lb {
  padding-top: 20px;
}

.background-static-lb::before {
  background-color: black;
}

.background-static-lb{
  background: url("assets/background-lb.jpeg") center no-repeat;
  background-size: 100% 100%;
  color: white;
  height: 110vh;
}

.background-static-all::before {
  background-color: rgb(4, 4 ,4);
}

.background-static-all {
  background: url("assets/background-all.jpeg") center no-repeat;
  background-size: 100% 100%;
  height: 110vh;
}

.password-text {
  color: white;
}

body {
  background-color: rgb(1, 1, 1) !important;
}

.profile-img-settings {
  width: 350px;
  height: 250px;
}

.button-create-teams {
  float: left;
}

.button-manage-teams {
  float: right;
}

a.dropdown-item:hover {
  color: black;
  background-color: darkgray;
}

.dropdown-item.active {
  color: white !important;
  background-color: grey !important;
}

.dropdown-item:active {
  color: rgb(4,4,4) !important;
  background-color: grey !important;
}

.notice-text-settings {
  color: white;
  margin-bottom: 0;
}

.col-settings {
  min-width: initial !important;
  margin-bottom: 20px;
}

.about-us {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.video-box-home {
  padding-bottom: 18px !important;
  overflow: hidden;
}

.hours-home {
  width: 100%;
}

.hours-row-home {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.boxes-home {
  background-color: rgb(255, 255, 255, .2) !important;
  color: white;
}

.boxes-home-nopadbot {
  padding-bottom: 0 !important;
}

.small-logo-home {
  height: auto;
  width: 10%;
  margin: 0;
}

.small-logo-home2 {
  height: auto;
  width: 10%;
  margin: 0;
}

.login-button-nav {
  padding: 2px !important;
}

.logout-button-nav {
  padding: 2px !important;
}

.text-profile {
  color: black;
}

.img-input-teamc {
  margin-top: 10px;
}

.header-teamc {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.status-card-body-fg-admin {
  overflow-y: scroll;
  max-height: 40vh;
  color: white;
  padding-bottom: 0 !important;
  padding-top: 5px !important;
}

.status-card-body-main-admin {
  overflow-y: scroll;
  max-height: 40vh;
  color: white;
  padding-bottom: 0 !important;
  padding-top: 5px !important;
  border: 1px solid lightgray;
}

.status-card-body-admin {
  overflow-y: scroll;
  max-height: 40vh;
  color: white;
}

.status-card-body-renew-admin {
  overflow-y: scroll;
  max-height: 40vh;
  color: white;
  padding-bottom: 0 !important;
  padding-top: 5px !important;
}

.status-card-offrow-admin {
  background-color: darkgray;
  margin-left: -10px;
  padding: 10px;
  color: white;
}

.status-card-row-admin {
  color: white;
}

.status-card-offrow-admin-fg {
  background-color: darkgray;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.row-fg {
  margin-bottom: 10px;
}

.col-name-fg {
  display: flex;
  align-items: center;
}

.button-submit-admin {
  margin-top: 1rem;
}

.button-submit-admin2 {
  float: right;
}

.form-input-admin {
  width: 20rem !important;
}

.status-card-admin {
  margin-top: 15px;
}

.center-navbar-nav {
  margin-right: 45px !important;
}

.iframe-home {
  display:block;
  width:100%;
}

.search-label-admin {
  color: white;
}

.col-admin-mg {
  display: flex;
  justify-content: center;
}

.header-rp {
  align-items: center;
  justify-content: center;
}

.button-row-rp2 {
  justify-content: center;
  background-color: transparent !important;
}

.form-rp {
  color: white;
}

.waiver-form-rp {
  color: white;
  min-width: 67%;
}

.row-rp {
  justify-content: center;
  background-color: rgb(108, 117, 125, 0.75)
}

.row-renew {
  justify-content: center;
}

.row-success-rp {
  justify-content: center;
}

.cardpreview-row-rp {
  justify-content: center;
}

.button-row-rp {
  float: right;
}

.card-rp {
  max-width: 50% !important;
}

.waiver-rp {
  justify-content: center;
  transition: display 1s, opacity 0.5s linear;
  opacity: 1;
}

.waiver-hidden-rp {
  transition: display 1s, opacity 0.5s linear;
  opacity: 0;
  display: none;
}

.waiver-input-rp {
  margin-top: 50px !important;
  color: white;
}

.button-hidden-rp {
  color: white !important;
}

.nav-row-rp {
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.nav-row-rp1 {
  margin-top: 100px;
}

.next-button-rp {
  margin-left: 5px;
}

.prev-button-rp {
  margin-right: 5px;
}

.waiver-row-rp {
  position: relative;
}


.waiver-header-rp {
  justify-content: center;
  color: white;
}

.text-block-waiver-rp {
  position: absolute;
  color: white;
  max-width: 766px;
  min-width: 766px;
  margin-top: 5px;
  margin-left: 5px !important;
}

.card-row-rp {
  position: relative;
}

.text-block-card-rp {
  position: absolute;
  color: white;
  top: 245px;
  max-width: 236.5px;
  min-width: 236.5px;
  background-color: darkgray;
  justify-content: center;
  padding: 5px;
}
.text-block-empty-rp {
  position: absolute;
  color: white;
  top: 245px;
  max-width: 236.5px;
  min-width: 236.5px;
  background-color: darkgray;
  justify-content: center;
  padding: 0px;
}

.participant-sig-rp {
  background-color: white;
}

.sig-row-rp {
  width: 100%;
  justify-content: center;
  background-color: transparent !important;
}

.pg-sig-rp {
  background-color: white;
}

.header-sig-rp {
  text-align: center
}

.signBox-image-rt {
  background-color: white;
  padding: 20px;
}

.clear-button-rp {
  margin-right: 5px;
}

.save-button-rp {
  margin-left: 5px;
}

.divider-row-rp {
  justify-content: center;
  content: '';
  display: block;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  background-color: darkgrey;
  margin: auto;
}

.error-text-rp {
  color:red;
}

.text-fow {
  color: white;
}

.img-map img {
  max-width: none !important;
}

.col-rp {
  align-items: center;
}

.card-header-wl {
  border-bottom: 1px solid lightgray;
}

.row-1-wl {
  margin-top: 10px;
  margin-bottom: 10px;
}

.admin-header {
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.admin-cards {
  color: white;
  background-color: rgb(108, 117, 125, 0.75) !important;
  min-height: 100%;
  border: none !important;
}

.admin-card-icon {
  text-align:right;
}

.admin-card-icon2 {
  text-align: left;
}

.admin-card-footer:hover {
  text-decoration-line: underline !important;
  text-decoration-color: white !important;
}

.admin-card-header-link {
  background-color: rgb(4, 4, 4, .4) !important;
}

.admin-card-footer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-sizing: content-box;
}

.admin-cards-link:hover {
  text-decoration: none;
}

.admin-row-email {
  margin-top: 20px;
}

 .admin-col-cards {
   min-height: 100%;
 }

 .admin-button-email1 {
   margin-right: 5px;
 }

 .admin-button-email2 {
   margin-left: 5px;
   margin-right: 5px;
 }

 .admin-button-email3 {
   margin-left: 5px;
 }

 .admin-row-points {
  background-color: rgb(108, 117, 125, 0.75);
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 5px;
  padding: 5px;
  color: white;
 }

 .admin-col-button-points {
   align-items: center;
   display: flex;
 }

 .admin-breadcrumb ol {
   background-color: transparent !important;
   color: white !important;
 }

 .admin-breadcrumb li {
   color: white !important;
 }

 .admin-breadcrumb a {
   color: white !important;
   text-decoration: underline;
 }

 .admin-breadcrumb a:link:hover {
   color: lightgray !important;
   text-decoration: none;
 }

 .confirm-buttons-admin {
   margin: 0 !important;
 }

 .col-options-button-admin {
  justify-content: left;
  display: flex;
  margin-bottom: 5px;
 }

 #options-buttons-admin:hover * {
   transition:0.3s ease all;
   background-image: linear-gradient(90deg, black, transparent);
   background-color: transparent !important;
 }

 .options-buttons-row-admin {
   background: none !important;
 }

.user-card-offrow-admin-fg {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color:darkgray;
  margin-left: -10px;
  padding-left: 10px;
}

.row-options-admin {
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 5px 5px;
}

.button-options-style-admin {
  padding: .25rem !important;
  float: right;
  white-space: nowrap;
}

.col-name-ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-width: 100%;
}

.button-options-col-admin {
  padding: 0 2px !important;
}

.loading-text-ul-admin {
  justify-content: center;
}

.status-ul-admin {
  color: lightgreen;
  text-align: center;
  margin-top: -15px;
}

.error-ul-admin {
  color: red;
  text-align: center;
  margin-top: -15px;
}

.status-email-admin {
  color: lightgreen;
  text-align: left;
  padding-top: 5px;
}

.email-img-admin {
  position: absolute;
  top: 30%;
  left: 5%;
  max-width: 90%;
  height: auto;
}

.email-body-form-admin {
  text-align: center;
}

 .admin-row-emailoptout {
  background-color: rgb(108, 117, 125, 0.75);
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-top: 15px;
 }

.status-oo-admin {
  color: lightgreen;
  text-align: center;
  margin-left: 5px;
}

.error-oo-admin {
  color: red;
  text-align: center;
  margin-left: 5px;
}

.navitem-img {
  max-width: 320px;
}

.row-uo {
  color: white;
}

.row-buttons-uo {
  direction: rtl;
  padding: 15px;
}

.button-update-uo {
  margin-right:15px;
}

.row-priv-buttons-uo {
  background-color: gray;
  padding: 15px;
  border-radius: 5px;
}

.super-status-uo-admin {
  color: lightgreen;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.status-uo-admin {
  color: lightgreen;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-right: 10px;
  align-items: center;
  display: flex;
}

.status-col-uo {
  align-content: center;
  display: grid;
  justify-content: end;
}